<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/newLegend" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-title">Player's Name</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="inputGroupFile02">Image</label>
        <input type="file" name="file" class="form-control" id="inputGroupFile02" placeholder="This is your image">
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Summary"></textarea>
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>